host: apigateway.serpro.gov.br
security:
  - Bearer: []
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
swagger: '2.0'
info:
  version: 1.0.0
  title: Consulta Massiva CNPJ (consulta-cnpj)
  description: |-
    O serviço `Consulta Massiva CNPJ` é disponibilizado através do `HTTP REST` oferencendo operação de consulta às informações cadastrais de Pessoas Jurídicas no Brasil.
    <br>
      ## Detalhamento do CNPJ
    
      Para um detalhamento do CNPJ acesse o link:
      https://github.com/devserpro/consulta-cnpj/raw/master/_layouts/detalhamento-CNPJ.odt
    <br>   

      ## Códigos de Retorno
    | Código de retorno | Resumido | Explicação |
    | ------------- |:--------------------|:-----------------------------------------------------------------------------|
    | 200           | OK                  | Tudo funcionou como esperado e as informações de Pessoa Jurídica foram disponibilizadas.                                               |
    | 400           | Requisição inválida | O Número de Inscrição do CNPJ informado não é válido. |
    | 404           | Não encontrado      | Não existe CNPJ com o Número de Inscrição informado |
    | 500           | Erro no servidor    | Ocorreu algum erro interno.      |
    | 503           | Serviço Indisponível     |  Algum serviço integrado ao Consulta Massiva CNPJ está indisponível no momento.                        |

    ---------------
    <br>
      ## Solicitando assinatura com Carimbo de Tempo

      Caso deseje que sua solicitação venha com uma assinatura de Carimbo de Tempo, basta incluir, no cabeçalho de sua requisição, a informação `signature: 1`.
      
      A assinatura será retornada no cabeçalho da resposta, com o nome `stamp`.

    <br>
     
    ## Endereço de Produção
     
        https://apigateway.serpro.gov.br/consulta-cnpj/v1/
        

    ## Endereço de Degustação

        https://apigateway.serpro.gov.br/consulta-cnpj-trial/1/
        
    <br>
    ### NI para Degustação
    | NI |
    | ---------------------- |
    | 34238864000168 |
    | 54447820000155 |
    | 46768703000165 |
    | 31151791000184 |
    | 34428654000132 |
    | 06115832000130 |
    | 78078291000128 |
    | 52293473000128 |
    | 07781066000105 |
    | 60367129000164 |
     --------------------------     

    ## Exemplo

      #### Chamada
      
        [GET] https://apigateway.serpro.gov.br/consulta-cnpj-trial/1/cnpj/34238864000168
        
      #### Retorno
      
        {
           "ni":"34238864000168",
           "data_abertura":"1967-06-30",
           "nome_empresarial":"SERVICO DE E-COMERCE LTDA",
           "nome_fantasia":"E-COMERCE",
           "cnae_principal":{
              "codigo":"6204000",
              "descricao":"Consultoria em e-comerce"
           },
           "natureza_juridica":{
              "codigo":"2011",
              "descricao":"Empresa Privada"
           },
           "endereco":{
              "logradouro":"ST DE GRANDE AREA NORTE",
              "numero":"Q.601",
              "complemento":"LOTE V",
              "cep":"70836900",
              "bairro":"ASA NORTE",
              "municipio":"BRASILIA",
              "uf":"DF"
           },
           "situacao_especial":"",
           "situacao_cadastral":{
              "codigo":"2",
              "data":"2004-05-22",
              "motivo":""
           },
           "orgao":"0110100",
           "qt_comprovante":"",
           "qt_certidao":"",
           "tipo_estabelecimento":"1",
           "correio_eletronico":"",
           "capital_social":0,
           "porte":"05",
           "telefones":[
              {
                 "ddd":"061",
                 "numero":"4338456"
              }
           ],
           "nome_orgao":"BRASILIA",
           "ente_federativo":"BR"
        }
basePath: /consulta-cnpj/v1
paths:
  '/cnpj/{ni}':
    get:
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      description: Retorna os dados do Cadastro Nacional de Pessoa Jurídica (CNPJ)
      parameters:
        - description: Número de inscrição no CNPJ
          name: ni
          type: string
          required: true
          in: path
      responses:
        '200':
          schema:
            $ref: '#/definitions/CNPJ'
          description: Retorna os dados da Pessoa Jurídica
        '400':
          description: O Número de Inscrição informado não é válido
        '404':
          description: Não existe Pessoa Jurídica com o Número de Inscrição informado
  '/cnpj/{ni}/socios':
    get:
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      parameters:
        - description: Número de inscrição no CNPJ
          name: ni
          in: path
          required: true
          type: number
      responses:
        '200':
          schema:
            $ref: '#/definitions/CNPJ'
          description: Retorna os dados do Quadro Societário da Pessoa Jurídica
        '400':
          description: O Número de Inscrição informado não é válido
        '404':
          description: Não existe Pessoa Jurídica com o Número de Inscrição informado
schemes:
  - http
  - https
definitions:
  CNPJ:
    properties:
      ni:
        type: string
      data_abertura:
        type: string
      nome_empresarial:
        type: string
      nome_fantasia:
        type: string
      cnae_principal:
        $ref: '#/definitions/CodigoDescricao'
      natureza_juridica:
        $ref: '#/definitions/CodigoDescricao'
      endereco:
        $ref: '#/definitions/Endereco'
      situacao_especial:
        type: string
      situacao_cadastral:
        $ref: '#/definitions/SituacaoCadastral'
      orgao:
        type: string
      tipo_estabelecimento:
        type: string
      correio_eletronico:
        type: string
      capital_social:
        type: string
      porte:
        type: string
      telefones:
        items:
          $ref: '#/definitions/Telefone'
        type: array
      cnae_secundarias:
        items:
          $ref: '#/definitions/CodigoDescricao'
        type: array
      nome_orgao:
        type: string
      ente_federativo:
        type: string
      data_situacao_especial:
        type: string
      socios:
        items:
          $ref: '#/definitions/Socios'
        type: array
    type: object
  CodigoDescricao:
    properties:
      codigo:
        type: string
      descricao:
        type: string
    type: object
  Endereco:
    properties:
      bairro:
        type: string
      complemento:
        type: string
      cep:
        type: string
      municipio:
        type: string
      uf:
        type: string
      logradouro:
        type: string
      numero:
        type: string
    type: object
  SituacaoCadastral:
    properties:
      codigo:
        type: string
      motivo:
        type: string
      data:
        type: string
    type: object
  Socios:
    properties:
      nome:
        type: string
      qualificacao:
        type: string
      captalSocial:
        type: string
      codigoPais:
        type: string
      qualificacaoRepLegal:
        type: string
      nomeRepLegal:
        type: string
    type: object
  Telefone:
    properties:
      ddd:
        type: string
      numero:
        type: string
    type: object
