{
  "host": "apigateway.serpro.gov.br",
  "security": [
    {
      "Bearer": []
    }
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Consulta Massiva CNPJ (consulta-cnpj)",
    "description": "O serviço `Consulta Massiva CNPJ` é disponibilizado através do `HTTP REST` oferencendo operação de consulta às informações cadastrais de Pessoas Jurídicas no Brasil.\n## Códigos de Retorno\n| Código de retorno | Resumido | Explicação |\n| ------------- |:--------------------|:-----------------------------------------------------------------------------|\n| 200           | OK                  | Tudo funcionou como esperado e as informações de Pessoa Jurídica foram disponibilizadas.                                               |\n| 400           | Requisição inválida | O Número de Inscrição do CNPJ informado não é válido. |\n| 404           | Não encontrado      | Não existe CNPJ com o Número de Inscrição informado |\n| 500           | Erro no servidor    | Ocorreu algum erro interno.      |\n| 503           | Serviço Indisponível     |  Algum serviço integrado ao Consulta Massiva CNPJ está indisponível no momento.                         |\n\n## Tipos de Campos Retornados\n\n| Tipos de campos | Valor de retorno |\n| ---------------------- | :------------------------------------------------------------- |\n| NI        | Número de Inscrição no Cadastro de Pessoa Jurídica, no formato 99999999999999 |\n| Data de Abertura | Data de abertura da Pessoa Jurídica, no formado AAAA-MM-DD |\n| Nome Empresarial | Nome Empresarial da Pessoa Jurídica  |\n| Nome Fantasia | Nome Fantasia da Pessoa Jurídica  |\n| CNAE Principal | Informação da Classificação Nacional de Atividades Econômicas (CNAE) Principal da Pessoa Jurídica  |\n| Natureza Juirídica | Informação da Natureza Jurídica da Pessoa Jurídica  |\n| Endereço | Endereço da Pessoa Jurídica |\n| Situação Especial | Situação Especial da Pessoa Jurídica |\n| Situação Cadastral | Situação Cadastral da Pessoa Jurídica |\n| Órgão | Órgão da Pessoa Jurídica |\n| Tipo de Estabelecimento | Tipo de Estabelecimento da Pessoa Jurídica |\n| Correio Eletrônico | Correio eletrônico (e-Mail) da Pessoa Jurídica |\n| Capital Social | Capital Social da Pessoa Jurídica |\n| Porte | Porte da Pessoa Jurídica |\n| Telefones | Números de Telefone da Pessoa Jurídica |\n| CNAE Secundaŕias | Informação das CNAE Segundárias da Pessoa Jurífica |\n| Nome Órgão | Nome do Órgão da Pessoa Jurífica |\n| Ente Federativo | Ente Federativo da Pessoa Jurídica |\n| Sócios | Quadro Societário da Pessoa Jurídica |\n\n --------------------------\n \n \n ## Tipos de Situação Cadastral Retornados\n\n\n| Código | Descrição |\n| ---------------------- | :----------------------- |\n| 2 | Ativa  |\n| 3 | Suspensa  |\n| 4 | Inapta |\n| 5 | Nula |\n| 8 | Baixada |\n\n --------------------------     \n \n ## Tipos de Estabelecimento Retornados\n\n\n| Código | Descrição |\n| ---------------------- | :----------------------- |\n| 1 | Matriz  |\n| 2 | Filial  |\n\n --------------------------          \n\n ## Tipos de Porte da Empresa Retornados\n\n\n| Código | Descrição |\n| ---------------------- | :----------------------- |\n| 00 | Não Informado  |\n| 01 | Microempresa - ME  |\n| 03 | Empresa de Pequeno Porte - EPP |\n| 05 | Demais Empesas |\n\n --------------------------     \n \n ## Tipos de Qualificações dos Sócios Retornados\n\n\n| Código | Descrição |\n| ---------------------- | :----------------------- |\n| 1 | Acionista  |\n| 2 | Acionista Controlador  |\n| 3 | Acionista Diretor |\n| 4 | Acionista Presidente |\n| 5 | Administrador |\n| 6 | Administradora de consórcio de Empresas ou Grupo de Empresas  |\n| 7 | Comissário  |\n| 8 | Conselheiro de Administração |\n| 9 | Curador |\n| 10 | Diretor |    \n| 11 | Interventor  |\n| 12 | Inventariante  |\n| 13 | Liquidante |\n| 14 | Mãe |\n| 15 | Pai |\n| 16 | Presidente  |\n| 17 | Procurador  |\n| 18 | Secretário |\n| 19 | Síndico (Condomínio) |\n| 20 | Sociedade Consorciada |\n| 21 | Sociedade Filiada  |\n| 22 | Sócio  |\n| 23 | Sócio Capitalista |\n| 24 | Sócio Comanditado |\n| 25 | Sócio Comanditário |\n| 26 | Sócio de Indústria  |\n| 27 | Sócio Residente ou Domiciliado no Exterior  |\n| 28 | Sócio-Gerente |\n| 29 | Sócio ou Acionista Incapaz ou Relativamente Incapaz (exceto menor) |\n| 30 | Sócio ou Acionista Menor (Assistido/Representado) |\n| 31 | Sócio Ostensivo  |\n| 32 | Tabelião  |\n| 33 | Tesoureiro |\n| 34 | Titular de Empresa Individual Imobiliária |\n| 35 | Tutor |\n| 36 | Gerente-Delegado  |\n| 37 | Sócio Pessoa Jurídica Domiciliado no Exterior  |\n| 38 | Sócio Pessoa Física Residente ou Domiciliado no Exterior |\n| 39 | Diplomata |\n| 40 | Cônsul |\n| 41 | Representante de Organização Internacional  |\n| 42 | Oficial de Registro  |\n| 43 | Responsável |\n| 44 | Sócio Participante |\n| 45 | Sócio Investidor |\n| 46 | Ministro de Estado das Relações Exteriores  |\n| 47 | Sócio Pessoa Física Residente no Brasil  |\n| 48 | Sócio Pessoa Jurídica Domiciliado no Brasil |\n| 49 | Sócio-Administrador |\n| 50 | Empresário |\n| 51 | Candidato a Cargo Politico Eletivo  |\n| 52 | Sócio com Capital  |\n| 53 | Sócio sem Capital |\n| 54 | Fundador |\n| 55 | Sócio Comanditado Residente no Exterior |\n| 56 | Sócio Comanditário Pessoa Física Residente no Exterior  |\n| 57 | Sócio Comanditário Pessoa Jurídica Domiciliado no Exterior  |\n| 58 | Sócio Comanditário Incapaz |\n| 59 | Produtor Rural |\n| 60 | Cônsul Honorário |\n| 61 | Responsável Indigena  |\n| 62 | Representante das Instituições Extraterritoriais  |\n| 63 | Cotas em Tesouraria |\n| 64 | Administrador Judicial |\n| 65 | Titular Pessoa Física Residente ou Domiciliado no Brasil |\n| 66 | Titular Pessoa Física Residente ou Domiciliado no Exterior  |\n| 67 | Titular Pessoa Física Incapaz ou Relativamente Incapaz (exceto menor)  |\n| 68 | Titular Pessoa Física Menor (Assistido/Representado) |\n| 69 | Beneficiário Final |\n| 70 | Administrador Residente ou Domiciliado no Exterior |\n| 71 | Conselheiro de Administração Residente ou Domiciliado no Exterior  |\n| 72 | Diretor Residente ou Domiciliado no Exterior  |\n| 73 | Presidente Residente ou Domiciliado no Exterior |\n| 74 | Sócio-Administrador Residente ou Domiciliado no Exterior |\n| 75 | Fundador Residente ou Domiciliado no Exterior |\n\n\n --------------------------          \n \n \n \n## Produção\n### Endereço de Produção\n \n    https://apigateway.serpro.gov.br/consulta-cnpj/v1/\n    \n## Degustação\n\n    \n\n### Endereço de Degustação\n\n    https://apigateway.serpro.gov.br/consulta-cnpj-trial/1/\n    \n### NI para Degustação\n| NI |\n| ---------------------- |\n| 34238864000168 |\n| 54447820000155 |\n| 46768703000165 |\n| 31151791000184 |\n| 34428654000132 |\n| 06115832000130 |\n| 78078291000128 |\n| 52293473000128 |\n| 07781066000105 |\n| 60367129000164 |\n --------------------------     \n\n## Exemplo\n\n  #### Chamada\n  \n    [GET] https://apigateway.serpro.gov.br/consulta-cnpj-trial/1/cnpj/34238864000168\n    \n  #### Retorno\n  \n    {\n       \"ni\":\"34238864000168\",\n       \"data_abertura\":\"1967-06-30\",\n       \"nome_empresarial\":\"SERVICO DE E-COMERCE LTDA\",\n       \"nome_fantasia\":\"E-COMERCE\",\n       \"cnae_principal\":{\n          \"codigo\":\"6204000\",\n          \"descricao\":\"Consultoria em e-comerce\"\n       },\n       \"natureza_juridica\":{\n          \"codigo\":\"2011\",\n          \"descricao\":\"Empresa Privada\"\n       },\n       \"endereco\":{\n          \"logradouro\":\"ST DE GRANDE AREA NORTE\",\n          \"numero\":\"Q.601\",\n          \"complemento\":\"LOTE V\",\n          \"cep\":\"70836900\",\n          \"bairro\":\"ASA NORTE\",\n          \"municipio\":\"BRASILIA\",\n          \"uf\":\"DF\"\n       },\n       \"situacao_especial\":\"\",\n       \"situacao_cadastral\":{\n          \"codigo\":\"2\",\n          \"data\":\"2004-05-22\",\n          \"motivo\":\"\"\n       },\n       \"orgao\":\"0110100\",\n       \"qt_comprovante\":\"\",\n       \"qt_certidao\":\"\",\n       \"tipo_estabelecimento\":\"1\",\n       \"correio_eletronico\":\"\",\n       \"capital_social\":0,\n       \"porte\":\"05\",\n       \"telefones\":[\n          {\n             \"ddd\":\"061\",\n             \"numero\":\"4338456\"\n          }\n       ],\n       \"nome_orgao\":\"BRASILIA\",\n       \"ente_federativo\":\"BR\"\n    }"
  },
  "basePath": "/consulta-cnpj-trial/1",
  "paths": {
    "/cnpj/{ni}": {
      "get": {
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "description": "Retorna os dados do Cadastro Nacional de Pessoa Jurídica (CNPJ)",
        "parameters": [
          {
            "description": "Número de inscrição no CNPJ",
            "name": "ni",
            "type": "string",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CNPJ"
            },
            "description": "Retorna os dados da Pessoa Jurídica"
          },
          "400": {
            "description": "O Número de Inscrição informado não é válido"
          },
          "404": {
            "description": "Não existe Pessoa Jurídica com o Número de Inscrição informado"
          }
        }
      }
    },
    "/cnpj/{ni}/socios": {
      "get": {
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "parameters": [
          {
            "description": "Número de inscrição no CNPJ",
            "name": "ni",
            "in": "path",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CNPJ"
            },
            "description": "Retorna os dados do Quadro Societário da Pessoa Jurídica"
          },
          "400": {
            "description": "O Número de Inscrição informado não é válido"
          },
          "404": {
            "description": "Não existe Pessoa Jurídica com o Número de Inscrição informado"
          }
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "definitions": {
    "CNPJ": {
      "properties": {
        "ni": {
          "type": "string"
        },
        "data_abertura": {
          "type": "string"
        },
        "nome_empresarial": {
          "type": "string"
        },
        "nome_fantasia": {
          "type": "string"
        },
        "cnae_principal": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "natureza_juridica": {
          "$ref": "#/definitions/CodigoDescricao"
        },
        "endereco": {
          "$ref": "#/definitions/Endereco"
        },
        "situacao_especial": {
          "type": "string"
        },
        "situacao_cadastral": {
          "$ref": "#/definitions/SituacaoCadastral"
        },
        "orgao": {
          "type": "string"
        },
        "tipo_estabelecimento": {
          "type": "string"
        },
        "correio_eletronico": {
          "type": "string"
        },
        "capital_social": {
          "type": "string"
        },
        "porte": {
          "type": "string"
        },
        "telefones": {
          "items": {
            "$ref": "#/definitions/Telefone"
          },
          "type": "array"
        },
        "cnae_secundarias": {
          "items": {
            "$ref": "#/definitions/CodigoDescricao"
          },
          "type": "array"
        },
        "nome_orgao": {
          "type": "string"
        },
        "ente_federativo": {
          "type": "string"
        },
        "data_situacao_especial": {
          "type": "string"
        },
        "socios": {
          "items": {
            "$ref": "#/definitions/Socios"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CodigoDescricao": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "descricao": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Endereco": {
      "properties": {
        "bairro": {
          "type": "string"
        },
        "complemento": {
          "type": "string"
        },
        "cep": {
          "type": "string"
        },
        "municipio": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        },
        "logradouro": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SituacaoCadastral": {
      "properties": {
        "codigo": {
          "type": "string"
        },
        "motivo": {
          "type": "string"
        },
        "data": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Socios": {
      "properties": {
        "nome": {
          "type": "string"
        },
        "qualificacao": {
          "type": "string"
        },
        "captalSocial": {
          "type": "string"
        },
        "codigoPais": {
          "type": "string"
        },
        "qualificacaoRepLegal": {
          "type": "string"
        },
        "nomeRepLegal": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Telefone": {
      "properties": {
        "ddd": {
          "type": "string"
        },
        "numero": {
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}
